---
import { Image } from 'astro:assets'

import Hover from './Hover.astro'
import Devicon from './Devicon.astro'

const { cover, name, date, description, link, github, tools } = Astro.props
---

<div class="flex w-full gap-4 flex-col">
	<div
		class="flex flex-col relative border border-white border-opacity-10 bg-white bg-opacity-10 rounded-md p-1 gap-1 shadow-md backdrop-blur-sm"
	>
		<div class="flex h-fit w-full gap-[3px]">
			<div class="flex h-1 w-1 rounded-full bg-[#FF5F57]"></div>
			<div class="flex h-1 w-1 rounded-full bg-[#FEBC2E]"></div>
			<div class="flex h-1 w-1 rounded-full bg-[#29C740]"></div>
		</div>
		<div class="relative flex h-full aspect-video">
			<Image src={cover} alt="icon" class="flex-1 h-full rounded-sm object-cover" width={1500} />
			<Hover link={link} github={github} newTab="true" radius="sm" />
		</div>
	</div>
	<div class="bg-white bg-opacity-10 w-[1px] rounded-xl max-h-full hidden"></div>
	<div class="flex flex-col flex-1 items-start justify-between gap-4">
		<div class="flex flex-col w-full">
			<div class="flex flex-col justify-between w-full">
				<div class="flex justify-between w-full items-center">
					<p class="text-primary text-lg md:text-xl text-left">{name}</p>
				</div>
			</div>
			<p class="text-accent text-xs md:text-sm">
				{description}
			</p>
		</div>
		<div class="w-full flex flex-col gap-1.5">
			<p class="text-accent text-xs md:text-sm text-right">Tools Used:</p>
			<div class="flex flex-wrap gap-1.5 h-8 w-full items-end justify-end">
				{
					tools.map((tool) => (
						<>
							<Devicon tool={tool} />
						</>
					))
				}
			</div>
		</div>
	</div>
</div>
